header{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 30px;
    box-shadow: 1px 1px 20px;
}
body { 
    background-color: rgb(249, 249, 249);
    margin: 0;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
    display: flex;
    flex-direction: column; 
}
article { 
    display: flex;
    margin: auto;
    padding: 5px;
}
footer{
    background-color: rgb(238, 238, 238);
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 1px;
    text-align: center;
    font-weight: 300;
    box-shadow: 0px 0px 4px;
}
h1 { 
    font-size: 40px;
    margin-left: 50px;
    margin-bottom: 5px;
    margin-top: 0px;
}
h2 {
    font-size: 20px;
    margin-left: 70px;
}
h1, h2 {
    font-weight: 300;
}
span { 
    font-weight: bold;
}

.producto {
    background-color: white;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    box-shadow: 0px 0px 1px;
}
.productImg { 
    width: 200px;
    height: 150px;
    margin-right: 10px;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px;
}
.productInfo {
    display: flex;
    flex-direction: column;
}
.productPrice {
    font-weight: bold;
    margin-left: 30px;
}
.productDescrip {
    font-size: 14px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.productName {
    margin-left: 30px;
    font-weight: 500;
}
